<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<h2>Your Portfolio</h2>
<ul>
<% @portfolio.line_items.each do |item| %>
<%if item != nil then %>
<li><%= item.stock.stock_name%></li>
<li><%= item.stock.stock_symbol%></li>
<li><%= item.stock.price%></li>
<%end %>
<% end %>
</ul>





