<style>
.alert-minimalist {
	background-color: rgb(241, 242, 240);
	border-color: rgba(149, 149, 149, 0.3);
	border-radius: 3px;
	color: rgb(149, 149, 149);
	padding: 10px;
}
.alert-minimalist > [data-notify="icon"] {
	height: 50px;
	margin-right: 12px;
}
.alert-minimalist > [data-notify="title"] {
	color: rgb(51, 51, 51);
	display: block;
	font-weight: bold;
	margin-bottom: 5px;
}
.alert-minimalist > [data-notify="message"] {
	font-size: 80%;
}
</style>
     <script type="text/javascript" charset="utf-8">

      $(function() {

            var pusher = new Pusher('b79e3ab119cc8a15cad7'); // Replace with your app key
    	    var channel = pusher.subscribe('private-'+<%= current_user.id.to_s if current_user %>);

     channel.bind('client-new_message', function(data) {
$(document).ready(function() {
$.notify({
	icon: data.image_url,
	title: 'Alert!',
	message: data.stock_symbol + ' has hit the price of ' + data.target + ' !'
},{
	type: 'minimalist',
	delay: 5000,
	icon_type: 'image',
	template: '<div data-notify="container" class="col-xs-11 col-sm-3 alert alert-{0}" role="alert">' +
		'<img data-notify="icon" class="img-circle pull-left">' +
		'<span data-notify="title">{1}</span>' +
		'<span data-notify="message">{2}</span>' +
	'</div>'
});
});
});

 
      });



    // Some useful debug msgs
    pusher.connection.bind('connecting', function() {
      $('div#status').text('Connecting to Pusher...');
    });
    pusher.connection.bind('connected', function() {
      $('div#status').text('Connected to Pusher!');
    });
    pusher.connection.bind('failed', function() {
      $('div#status').text('Connection to Pusher failed :(');
    });
    channel.bind('subscription_error', function(status) {
      $('div#status').text('Pusher subscription_error');
    });

   


    </script>
