<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.user_name %></h1>
    <p>
      
      We are thrilled that you signed up to use our app.
      

    </p>
  </body>
</html>